<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="top">
    <div class="top-left">
        <h4>Bloom</h4>
    </div>
    <div class="top-right">
        <button>Home</button>
        <button>About Us</button>
        <button>Portfolio</button>
        <button>Services</button>
        <button>Contact Us</button>
    </div>
</div>
<div class="mid-one">
    <div class="mid-one-left">
        <h4>Lorem ipsum dolor sit amet</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad alias architecto aut blanditiis, corporis cupiditate deleniti
            eos ex natus, nihil nobis numquam odit omnis reiciendis rerum totam vitae voluptatibus!</p>
        <button>Learn More</button>
    </div>
    <div class="mid-one-right">
        <img src="../static/images/img1.jpg" alt="No image">
    </div>
</div>
<div class="mid-two">
    <div class="mid-two-left">
        <h4>This is a Heading</h4>
        <img src="../static/images/img2.jpg" alt="No image">
        <h5>Content</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi asperiores atque aut consectetur dolorum eius laboriosam officia praesentium
            quaerat quos repellat, soluta totam velit voluptates? Accusantium adipisci ipsa quis?</p>
        <button>Learn More</button>
    </div>
    <div class="mid-two-middle">
        <img src="../static/images/img3.jpg" alt="No image">
        <h5>Content</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi asperiores atque aut consectetur dolorum eius laboriosam officia praesentium
            quaerat quos repellat, soluta totam velit voluptates? Accusantium adipisci ipsa quis?</p>
        <button>Learn More</button>
    </div>
    <div class="mid-two-right">
        <img src="../static/images/img4.jpg" alt="No image">
        <h5>Content</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi asperiores atque aut consectetur dolorum eius laboriosam officia praesentium
            quaerat quos repellat, soluta totam velit voluptates? Accusantium adipisci ipsa quis?</p>
        <button>Learn More</button>
    </div>
</div>
<div class="bottom">
    <div class="bottom-left">
        <h5>Latest Posts</h5>
        <div class="tile">
            <img src="../static/images/img5.jpg" alt="No image">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
        </div>
        <div class="tile">
            <img src="../static/images/img5.jpg" alt="No image">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
        </div>
        <div class="tile">
            <img src="../static/images/img5.jpg" alt="No image">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
        </div>
    </div>
    <div class="bottom-middle">
        <h5>About</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores ea exercitationem illo libero magnam necessitatibus officia
            omnis quisquam vel. Ab amet corporis dignissimos exercitationem placeat praesentium quibusdam saepe sunt?</p>
    </div>
    <div class="bottom-right">
        <h5>Stay Connected</h5>
        <div class="social">
            <img src="../static/images/facebook.png" alt="No image">
            <h5>Facebook</h5>
        </div>
        <div class="social">
            <img src="../static/images/twitter.png" alt="No image">
            <h5>Twitter</h5>
        </div>
        <div class="social">
            <img src="../static/images/img6.jpg" alt="No image">
            <h5>RSS</h5>
        </div>
        <div class="social">
            <img src="../static/images/img10.png" alt="No image">
            <h5>Google+</h5>
        </div>
    </div>
</div>
</body>
</html>